
.blur{
  filter: blur(20px);
pointer-events: none;
user-select: none;
}


.card_foto_de_perfil_admin{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 50%;
  margin-top: 5%;
  margin-left: 2%;
  padding-bottom: 2%;
}

.texto_negrita_chico_admin{
  font-size: small;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 0%;   
}
.texto_negrita_centrado_mediano_admin{
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 0%; 
  text-align: center;
  margin-right: 3%;
}
.texto_gris_chico_admin{
  font-size: small;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(163, 163, 163);
}
.imagen_del_admin{
  width: 100px;
  height: 100px;
  padding: right 10%;
 border-radius: 50%;
border: 5px solid #FDB632;}

.contendor_busqueda_y_boton_agregar{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  align-items: center;
}

.imagen_boton_agregar_producto_admin{
 width: 40%;
 height: auto;
 margin: 0%;

  
}   

.contendor_del_boton_agregar_producto_admin{
  width: 100%; 
  height: auto;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 5%;
}

.botona_gregar_producto_admin{
  
  border-radius: 15px;
  border: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  background-color: #FFDEB1;
  height: auto;
  width: 150px;
  padding: 1%;


}

.contenedor_blur_modal_admin#blur.active{
 width: 100%;
 height: 300%;
  background-color: rgba(0, 0, 0, 0.09);
 backdrop-filter: blur(20px);
color: #f5f2ed;
position: absolute;
top: 0;

}

.texto_blanco_mediano_admin{
font-size: 70%;
font-family: 'roboto',sans-serif;
font-weight: 800;
color: white;
margin: 0;
padding: 0;

}

.cuadro_busqueda_admin{
  outline: #FDB632;
  
  border-radius: 10px;
  border: 2px solid #FDB632;
  height: 30px;
  width: 200%;
  text-align: start;
  padding-bottom: 0.5%;  
  background-color: #fdb63200;
}
/* modal agregar producto */
.modal_admin_background{
  background-color: #f5f2ed;
}
.nombre_prod_modal_admin{
  outline: #FDB632;
  
  border-radius: 10px;
  border: 2px solid #FDB632;
  height: auto;
  width: 100%;
  margin-bottom: 1%;
  
  text-align: start;
  padding-bottom: 0.5%;  
  background-color: #fdb63200;
}
.modal_prod_admin{
  display: flex;
  justify-content: center;
}
.body_card_modal_agregar_prod{
  width: 100%;
  height: auto;
}
.card_producto_admin_modal{
  width: 100%;
  height: auto;
  margin: 0%;
  border:0px ;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.descripcion_prod_admin{
  outline: #FDB632;
  margin-top: 5%;
  
  border-radius: 10px;
  border: 2px solid #FDB632;
  height: 100px;
  width: 100%;
  text-align: start;
  padding-bottom: 0.5%;  
  background-color: #fdb63200;
}

/* modal agregar producto */
.cuadro_busqueda_admin:focus{
 outline:none;
}
.cuadro_busqueda_admin::placeholder{
  font-size: small;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(148, 148, 148, 0.388);
  padding-left: 1%;
  
  
}

.lista_de_productos_admin{
list-style: none;
display: flex;

}

.lista_de_busqueda_admin{
  list-style-type: none;
  padding-left: 0%;
}
.lista_imagenes_de_productos_admin{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;

}


.card_producto_admin{
 width: 40%;
 height: auto;
 margin: 3%;
 border:0px ;
}

.btn_editar_admin{
 background-color: #FDB632;
 
}
.btn_editar_admin:hover{
background-color: #ffa705;
}
.texto_blanco_btn_amdin{
 color: whitesmoke;
 font-family: 'Roboto', 'sans-serif';
 font-weight: 300;
}
.texto_blanco_btn_amdin:hover{
color: whitesmoke;
font-family: 'Roboto', 'sans-serif';
font-weight: 300;
}
.body_admin{
background-color: #f7ecdd35;
}

.numero_paginacion_admin{
 text-decoration: none;
 color: #FDB632;
 margin-left: 10px;
 margin-right: 10px;

 font-family: 'Roboto', sans-serif;
 
 font-size: large;

}

.pagination_admin{
 list-style: none;
 display: flex;
 justify-content: space-between;
 padding-left: 0;
}

.form-check-input-admin{
background-color: #ffa705;
}

/* dispositivos pequeños */
@media screen and (max-width: 290px){
  .lista_checkbox_admin{
    display: none;
  }
  .lista_imagenes_de_productos_admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   
   }
   .card_producto_admin{
    width: 100%;
    height: auto;
    margin: 0%;
    border:0px ;
   }
   
   .contendor_busqueda_y_boton_agregar{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contendor_del_boton_agregar_producto_admin{
    width: 100%; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5%;
  }

  .cuadro_busqueda_admin{
    outline: #FDB632;
    
    border-radius: 10px;
    border: 2px solid #FDB632;
    height: 30px;
    width: 100%;
    text-align: start;
    padding-bottom: 0.5%;  
    background-color: #fdb63200;
  }
  .imagen_boton_agregar_producto_admin{
    width: 30%;
    height: auto;
    margin: 0%;
   
     
   }  
}

/* dispositivos pequeños a medianos */
@media screen and (min-width: 300px) and (max-width: 519px){
  .lista_imagenes_de_productos_admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   
   }
   .card_producto_admin{
    width: 100%;
    height: auto;
    margin: 3%;
    border:0px ;
   }
   
   .contendor_busqueda_y_boton_agregar{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contendor_del_boton_agregar_producto_admin{
    width: 100%; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5%;
  }

  .cuadro_busqueda_admin{
    outline: #FDB632;
    
    border-radius: 10px;
    border: 2px solid #FDB632;
    height: 30px;
    width: 100%;
    text-align: start;
    padding-bottom: 0.5%;  
    background-color: #fdb63200;
  }
  .botona_gregar_producto_admin{
  
    border-radius: 15px;
    display: flex;
    border: 0;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    background-color: #FFDEB1;
    height: 50px;
    width: 150px;
    padding: 3%;
  
  
  }

  .imagen_boton_agregar_producto_admin{
    width: 30%;
    
    margin: 0%;
   
     
   }  
}

/* dispositivos medianos  */
@media all and (min-width: 520px) and (max-width: 720px) {
  .lista_imagenes_de_productos_admin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   
   }
   .card_producto_admin{
    width: 100%;
    height: auto;
    margin: 3%;
    border:0px ;
   }
   
   .contendor_busqueda_y_boton_agregar{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contendor_del_boton_agregar_producto_admin{
    width: 100%; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5%;
  }

  .cuadro_busqueda_admin{
    outline: #FDB632;
    
    border-radius: 10px;
    border: 2px solid #FDB632;
    height: 30px;
    width: 150%;
    text-align: start;
    padding-bottom: 0.5%;  
    background-color: #fdb63200;
  }

  .botona_gregar_producto_admin{
  
    border-radius: 15px;
    display: flex;
    border: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    background-color: #FFDEB1;
    height: 50px;
    width: 150px;
    padding: 3%;
  
  
  }

  .imagen_boton_agregar_producto_admin{
    width: 30%;
    
    margin: 0%;
   
     
   }  

}

