

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.img404 {
    object-fit:cover;  
    width: 100%;
    height: auto; 

}

#p404{
    text-align: center;
    font-size: 1.5em;
  }

  
#botonInicio {
    text-align: center;
    font-size: 2.0em;
  }


  @media screen and (max-width: 700px) {
     #p404{
      font-size: 0.9em;
    }
    #botonInicio {
        font-size: 1.3em;
      }      
      
  
  }