.cardfotodeperfiladmin{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.textonegritachicoadmin{
    font-size: small;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0%;   
}
.textonegritacentradomedianoadmin{
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0%; 
    text-align: center;
    margin-right: 5%;
}
.textogrischicoadmin{
    font-size: small;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(163, 163, 163);
}
.imagendeladmin{
    width: 80%;
    display: flex;
    padding: right 10%;}

 .imagenbotonagregarproductoadmin{
   width: 30%;
   margin: 0%;
  
    
 }   

 .contendordelbotonagregarproductoadmin{
    width: 100%; 
    height: auto;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 5%;
}

 .botonagregarproductoadmin{
    
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    background-color: #FFDEB1;
    height: 50px;
    width: 150px;
   padding: 3%;
   


 }

 .textoblancomedianoadmin{
font-size: 70%;
font-family: 'roboto',sans-serif;
font-weight: 800;
color: white;
margin: 0;
padding: 0;

 }

 .cuadrobusquedaadmin{
    border-radius: 10px;
    height: 30px;
    width: 50%;
    text-align: start;
    padding-bottom: 0.5%;  
    
 }
 .cuadrobusquedaadmin::placeholder{
    font-size: small;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(148, 148, 148, 0.388);
    padding-left: 1%;
    
    
 }

 .listadeproductosadmin{
list-style: none;
display: flex;

 }
 .listadebusquedaadmin{
    list-style-type: none;
    padding-left: 0%;
 }
 .listaimagenesdeproductosadmin{
   display: flex;
   flex-direction: column;
 }