/* Navbar */
.BotonBusqueda {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: background-color 0.01s, color 0.01s;
}
.formBorde {
  border: 1px solid #000000; /* Borde negro de 1px */
}

.BotonBusqueda:hover {
  background-color: black;
  color: white;
}

.textosNav {
  color: black;
  transition: transform 0.005s;
  text-decoration: none;

}
.textosNav:hover {
  color: rgb(121, 121, 121);
  /* transform: scale(1.1); */
}

.IconosNav {
  color: black;
  transition: transform 0.005s;
  text-decoration: none;

}

.IconosNav:hover {
  color: rgb(121, 121, 121);
  transform: scale(1.2);
}

.navbarentrelineas {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.link-navbar:hover {
  color: black;
  transform: scale(1.1);
}

.navbar-toggler {
  margin-right: 8px;
  background-color: rgb(71, 71, 71);
  border: 1px solid black;
}

